.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin: 50px;

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;

    .sign-in-button {
      background-color: rgb(105, 104, 104);
      color: white;
      border: 1px solid black;

      &:hover {
        background-color: black;
        color: white;
        border: none;
      }
    }

    .google-sign-in {
      background-color: #4285f4;
      color: white;

      &:hover {
        background-color: #395075;
        border: none;
      }
    }
  }
}
