.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 50px;

  h2 {
    margin: 10px 0;
  }

  .submit-button {
    background-color: rgb(105, 104, 104);
    color: white;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}
